#Impact temp and log files
_impact*

#File editor temp files
*~

#Temporary files created by the script
temp-*

#Binary files
*.bit
!bscan_spi_xc7a200t.bit
*.mcs
*.cfi
*.prm

#Xilinx Vivado log files
.Xil/
*.jou
*.str
*.log
